@model ems_onscene.Models.EntityModels.EMSMessage

@{
    ViewBag.Title = "Message Details";
}

<h1 class="amatic">@ViewBag.Title</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Message Title: <a style="color:lightslategray;"> @Html.DisplayFor(model => model.MessageTitle)</a>
        </dt>

        <dt>
            The Message:
        </dt>

        <dd>
            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area">
                 
                    <div class="content" style="color:#808080">

                        @Html.Raw(Model.MessageText)

                    </div>
                </div>
            </div>

            <hr size="1" style="border-style:double;border-color:black;" />
        </dd>

        <dt>
            Time Sent:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageTimeSent)
        </dd>

        <dt>
            From:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.MemberName)
        </dd>

        <dt>
            To:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.MemberName)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
