@model ems_onscene.Models.EntityModels.Personnel

@{
    ViewBag.Title = "Personnel Detail";
}

<h1 class="amatic">@ViewBag.Title</h1>

<div>

    <dl class="dl-horizontal">
        <dt>
            Name:
        </dt>

        <dd style="margin-bottom:20px;">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Email:
        </dt>

        <dd style="margin-bottom:20px;">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Medical Rank
        </dt>

        <dd style="margin-bottom:20px;">
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd style="margin-bottom:20px;">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
